# =============================================================================
# FOOTBALL PREDICTION PLATFORM — Variáveis de Ambiente
# Copie este arquivo para .env e preencha com seus valores
# cp .env.example .env
# =============================================================================

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=TROQUE_AQUI
POSTGRES_DB=dataplatform
POSTGRES_AIRFLOW_DB=airflow_metadata
POSTGRES_SUPERSET_DB=superset_metadata
POSTGRES_MLFLOW_DB=mlflow_metadata
POSTGRES_URL=postgresql://admin:TROQUE_AQUI@localhost:5432/dataplatform

# Airflow
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=TROQUE_AQUI
AIRFLOW_ADMIN_EMAIL=seu@email.com
AIRFLOW_FERNET_KEY=GERE_COM_python_-c_"from_cryptography.fernet_import_Fernet;print(Fernet.generate_key().decode())"
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://admin:TROQUE_AQUI@postgres:5432/airflow_metadata
AIRFLOW__CORE__LOAD_EXAMPLES=false

# Superset
SUPERSET_SECRET_KEY=GERE_COM_openssl_rand_-base64_42
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=TROQUE_AQUI
SUPERSET_ADMIN_EMAIL=seu@email.com

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=football_predictions

# API Football (https://dashboard.api-football.com/)
API_FOOTBALL_KEY=SUA_CHAVE_AQUI
API_FOOTBALL_BASE_URL=https://v3.football.api-sports.io

# dbt
DBT_TARGET=dev
DBT_PROFILES_DIR=/dbt_project

# GitHub
GITHUB_TOKEN=SEU_TOKEN_AQUI

# Docker Network
DOCKER_NETWORK=dataplatform_net
